package ${package}.${moduleName}.service.impl;

import com.baomidou.mybatisplus.core.conditions.Wrapper;
import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.plugins.Page;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import ${mainPath}.common.utils.PageUtils;
import ${mainPath}.common.utils.QueryNot;
import ${package}.${moduleName}.dao.${className}Dao;
import ${package}.${moduleName}.entity.${className}Entity;
import ${package}.${moduleName}.service.${className}Service;
import org.springframework.stereotype.Service;
import java.util.Map;
import lombok.extern.slf4j.Slf4j;

@Slf4j
@Service("${classname}Service")
public class ${className}ServiceImpl extends ServiceImpl<${className}Dao, ${className}Entity> implements ${className}Service {


    @Override
    public PageUtils queryPage(Map<String, Object> params) {

        long page = Long.valueOf(params.get("page").toString());
        long limit = Long.valueOf(params.get("limit").toString());


        //转化mybatis-plus分页对象
        Page<${className}Entity> plusPage = new QueryNot<${className}Entity>(page, limit).getPage();
        //查询
        List<${className}Entity> list = baseMapper.queryPage(plusPage, params);

        //分页对象设置
        plusPage.setRecords(list);
        plusPage.setTotal(list.size());
        return new PageUtils(plusPage);
    }

}